---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=15%20Wildfields%20ct,%20Bear,%20DE%2019701&key=AIzaSyDQeKnEPSHK49feJFV5fvW9UzWb67DI-yU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Philadelphia, PA
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "15",
                       "short_name" : "15",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Wildfields Court",
                       "short_name" : "Wildfields Ct",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Bear",
                       "short_name" : "Bear",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" [...]
