---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/amenities?api_key=zmuTdZgBkO6cmrf401Mfjpr6hRqdfLwi8NdgROnB&limit=127
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Allow:
      - Get
      X-Api-Umbrella-Request-Id:
      - c94u99a9cl74hogiuso0
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '970'
      X-Vcap-Request-Id:
      - dfc058e0-5267-4c6f-6aa5-19ae95fa178a
    body:
      encoding: ASCII-8BIT
      string: " \r\n{\r\n\r\n\"total\":\"127\",\r\n\"limit\":\"127\",\r\n\"start\":\"0\",
        \ \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"A1B0AD01-740C-41E7-8412-FBBEDD5F1443\"\r\n\r\n,\"name\":\"ATM/Cash
        Machine\"      \r\n\r\n,\"categories\":[\r\n  \"Convenience\"\r\n  ,\r\n  \"Souvenirs
        and Supplies\"\r\n  ]\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"4E4D076A-6866-46C8-A28B-A129E2B8F3DB\"\r\n\r\n,\"name\":\"Accessible
        Rooms\"      \r\n\r\n,\"categories\":[\r\n  \"Accessibility\"\r\n  ]\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"04D29064-B9A1-4031-AD0E-98E31EF69604\"\r\n\r\n,\"name\":\"Accessible
        Sites\"      \r\n\r\n,\"categories\":[\r\n  \"Accessibility\"\r\n  ]\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"0E2B9B01-9AC3-[...]
