---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/events?api_key=zmuTdZgBkO6cmrf401Mfjpr6hRqdfLwi8NdgROnB&dateEnd=2023-06-23&dateStart=2023-06-16&parkCode=cajo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Allow:
      - GET
      X-Api-Umbrella-Request-Id:
      - c8ooua64ujefoiq83vk0
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '950'
      X-Time-In-Cache-Check:
      - '0'
      X-Time-In-Cache-Save:
      - '0'
      X-Time-In-Ontaffyrequest:
      - '0'
      X-Time-In-Ontaffyrequestend:
      - '0'
      X-Time-In-Parse:
      - '0'
      X-Time-In-Resource:
      - '0'
      X-Time-In-Serialize:
      - '109'
      X-Time-In-Taffy:
      - '0'
      X-Vcap-Request-Id:
      - d2613055-ac12-4a97-6fd0-e3564636af3b
    body:
      encoding: UTF-8
      string: '{"total":"1","errors":[],"data":[{"location":"","updateuser":"","contactname":"Remi
        Sarihan","contacttelephonenumber":"(757) 856-1220","recurrencedateend":"","longitude":"","datestart":"2023-06-17","isrecurring":"false","datetimeupdated":"","portalname":"","types":["Cultural\/Craft
        Demonstration","Exhibition\/Show","Festival","Partner Program","Performance"],"createuser":"","isfree":"true","contactemailaddress":"remi_sarihan@nps.gov","regresurl":"","description":"<p>A
        Pow Wow is a celebration of Native American culture, with a particular emphasis
        on dance, music, and craft. Tribes in Virginia host Pow Wows that are open
        to the public, where visitors are encouraged to learn about the culture and
        history of Tribal nations.<\/p>\n<p>The Chesapeake National Historic Trail
        will be tabling at the Mattaponi Indian Tribe &amp; Reservation’s 25th Annual
        Pow Wow. Find us to chat about opportunities for Tribal youth to explore careers
        with the National Park Service! We will also have available trail maps, junior
        ranger books and badges, activities, and more!<\/p>\n<p>Time and location
        details are forthcoming. <\/p>","images":[{"path":"\/common\/uploads\/event_calendar\/76125FF9-FB7C-58BF-B5E3987F54EA9930.png","credit":"Mattaponi
        Indian Tribe & Reservation","imageId":"38592","altText":"Poster for Mattaponi
        Indian Tribe & Reservation 25th Annual Pow Wow","title":"","ordinal":"0","caption":"Poster
        for Mattaponi Indian Tribe & Reservation 25th Annual Pow Wow","url":"\/common\/uploads\/event_calendar\/76125FF9-FB7C-58BF-B5E3987F54EA9930.png"}],"category":"Special
        Event","imageidlist":"","isregresrequired":"false","organizationname":"","id":"76271262-DB31-8C95-2937EA6AF9024639","isallday":"false","dateend":"2023-06-17","sitecode":"cajo","infourl":"https:\/\/www.mattaponination.com\/pow-wow.html","times":[{"timestart":"10:00
        AM","timeend":"05:00 PM","sunsetend":"false","sunrisestart":"false"}],"regresinfo":"","timeinfo":"","categoryid":"0","eventid":"0","parkfullname":"Captain
        John Smith Chesapeake National Historic Trail","recurrencedatestart":"2023-06-17","date":"2023-06-17","sitetype":"park","feeinfo":"Fee
        information forthcoming","recurrencerule":"","dates":["2023-06-17"],"datetimecreated":"","title":"Mattaponi
        Pow Wow - NPS Table","latitude":"","subjectname":"","tags":["Pow Wow","Native
        American dances","Native American culture","tribal heritage"]}],"dates":"2023-06-17","pagenumber":"1","pagesize":"10"}'
  recorded_at: Fri, 16 Jun 2023 22:04:03 GMT
recorded_with: VCR 6.1.0
