---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/alerts?api_key=zmuTdZgBkO6cmrf401Mfjpr6hRqdfLwi8NdgROnB&parkCode=gate&stateCode=NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Allow:
      - Get
      X-Api-Umbrella-Request-Id:
      - c97j23n9t60uf545bts0
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '992'
      X-Vcap-Request-Id:
      - 942a13b4-e229-44c6-640b-620b87a1a50e
    body:
      encoding: ASCII-8BIT
      string: " \r\n{\r\n\r\n\"total\":\"6\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",
        \ \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"2EA3899C-27C2-49ED-B332-268A8481E954\"\r\n\r\n,\"url\":\"\"\r\n\r\n,\"title\":\"Please
        check our IG and Twitter for updated beach closures\"\r\n\r\n,\"parkCode\":\"gate\"\r\n\r\n,\"description\":\"There
        are beach closures throughout the park due to nesting birds. Our Instagram
        and Twitter pages have the most up-to-date information about these closures.\"\r\n\r\n,\"category\":\"Park
        Closure\"  \r\n\r\n,\"relatedRoadEvents\":[]\r\n,\"lastIndexedDate\":\"2023-07-02
        09:57:53.0\"\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"FD4EC585-CB10-48FD-8918-E1D28260B593\"\r\n\r\n,\"url\":\"https://fire.airnow.gov/\"\r\n\r\n,\"title\":\"Important
        Air Quality Health Advisory\"\r\n\r\n,\"parkCode\":\"gate\"\r\n\r\n,\"description\":\"Potentially
        hazardous and unhealthy Air Quality Index levels are present in some areas
        of the Northeast due to wildfire smoke from wildfires burning in eastern Canada.
        Find out what actions you c[...]
