<div class="container">

    <%= link_to "Back","/users/#{current_user.id}" %>
    <div class="row">
    
        <%@comments.each do |comment| %>
        
            <div class="col-lg-12">
                <div class="comments-index">
                    <p><%=comment.body%></p>
                    <p><b>Posted: </b><%=comment.created_at.to_datetime.strftime("%m/%d/%Y")%></p>
                </div>
            </div>
        <%end%>        
    </div>
</div>