---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/search/v4/place?circle=-77.6445079,39.3341151,100000&key=ATUJvHMRAB7TFEaDH3pzIs4Ekae5av00&location=-77.6445079,39.3341151&q=bar&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14831'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14831'
      Ratelimit-Reset:
      - '1217937'
      Etag:
      - W/"1f0b-G86MV5dzp+i5Q0K1235h5V6XyUg"
    body:
      encoding: UTF-8
      string: '{"pagination":{"currentPage":1},"request":{"sort":"distance","pageSize":20,"page":1,"feedback":false,"key":"ATUJvHMRAB7TFEaDH3pzIs4Ekae5av00","location":[-77.6445079,39.3341151],"circle":[-77.6445079,39.3341151,100000],"q":"bar"},"results":[{"id":"mqId:361648164","displayString":"Coach
        House Grill N'' Bar, 160 High St, Harpers Ferry, WV 25425","name":"Coach House
        Grill N'' Bar","slug":"/us/west-virginia/coach-house-grill-n-bar-361648164","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-77.731053,39.32369],"type":"Point"},"properties":{"city":"Harpers
        Ferry","stateCode":"WV","postalCode":"25425","county":"","countryCode":"US","street":"160
        High St","type":"address"}}},{"id":"mqId:431232997","displayString":"H. B.
        Snallygaster''s General Store & Cafe, 1102 Washington St, Bolivar, WV 25425","name":"H.
        B. Snallygaster''s General Store & Cafe","slug":"/us/west-virginia/h-b-snallygasters-general-store-cafe-431232997","language":"en","place":{"type":"Feature","geometry":{"coordinates":[-77.74617,39.32639],"type":"Point"},"properties":{"city":"Bolivar","stateCode":"WV","postalCode":"25425","county":"","countr[...]
