---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1688586049,"sunrise":1688555696,"sunset":1688609181,"temp":71.47,"feels_like":70.95,"pressure":1018,"humidity":56,"dew_point":54.97,"uvi":3.25,"clouds":100,"visibility":10000,"wind_speed":11.14,"wind_deg":41,"wind_gust":12.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1688583600,"temp":72.25,"feels_like":71.76,"pressure":1018,"humidity":55,"dew_point":55.2,"uvi":3.63,"clouds":100,"visibility":10000,"wind_speed":11.48,"wind_deg":33,"wind_gust":11.5,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.06},{"dt":1688587200,"temp":71.47,"feels_like":70.95,"pressure":1018,"humidity":56,"dew_point":54.97,"uvi":3.25,"clouds":100,"visibility":10000,"wind_speed":11.14,"wind_deg":41,"wind_gust":12.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.03},{"dt":1688590800,"temp":72.14,"feels_like":71.64,"pressure":1018,"humidity":55,"dew_point":55.09,"uvi":2.51,"clouds":100,"visibility":10000,"wind_speed":7.78,"wind_deg":58,"wind_gust":11.32,"weather"[...]
