---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bb939f916275bcfe43430e5f26d26b91&exclude=minutely&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1687815119,"sunrise":1687777852,"sunset":1687831627,"temp":91.47,"feels_like":88.75,"pressure":1011,"humidity":26,"dew_point":51.78,"uvi":5.12,"clouds":0,"visibility":10000,"wind_speed":5.48,"wind_deg":120,"wind_gust":5.97,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1687813200,"temp":90.97,"feels_like":88.2,"pressure":1011,"humidity":26,"dew_point":51.35,"uvi":7.71,"clouds":0,"visibility":10000,"wind_speed":5.64,"wind_deg":110,"wind_gust":5.59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1687816800,"temp":91.47,"feels_like":88.75,"pressure":1011,"humidity":26,"dew_point":51.78,"uvi":5.12,"clouds":0,"visibility":10000,"wind_speed":5.48,"wind_deg":120,"wind_gust":5.97,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1687820400,"temp":91.11,"feels_like":88.56,"pressure":1011,"humidity":27,"dew_point":52.5,"uvi":2.76,"clouds":0,"visibility":10000,"wind_speed":5.64,"wind_deg":129,"wind_gust":6.62,"weather":[{"id":800,"main":[...]
