@import "bootstrap";

.navbar {
  background-color: #8E3200;
  margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    cursor: default;
  }
  

#nav-blurb {
  position: relative;
  float: right;
  top: 10px;
  bottom: 20px;
  font-size: 175%;
  color: #D7A86E;
  padding: 10px;
  font-family: Monaco;
}
.btn {
  color: #D7A86E;
  background-color: #8E3200;
  border: rounded;
  border-color: #D7A86E;
  border-radius: 20px;
  
}

.button {
  color: #D7A86E;
  background-color: #8E3200;
  border: rounded;
  border-color: #D7A86E;
  border-radius: 20px;
  width: 96%;
  margin: 8px 0;
  text-align: center;
  font-size: 15px;
  height: 30px;
  
}
.button:hover {
  color: #F0BB62;
  background-color: #A64B2A;
  border: none;
}

.form-control {
  color: #D7A86E;
  background-color: #8E3200;
  width: 100%;
  border-color: #8E3200;
  box-sizing: border-box;
  margin: 8px 0;
  text-align: center;
  font-size: 15px;
  
}

.btn:hover, .nav-link:hover  {
  color: #F0BB62;
  background-color: #A64B2A;
  border: none;
}

.dropdown-menu {
  background-color: #D7A86E;
}

.dropdown {
  color: #A64B2A;
}

a:link {
  color: #A64B2A;
}

a:visited {
  color: #A64B2A;
  background-color: transparent;
  text-decoration: none;
}

.user-comments {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #D7A86E; 
    }

  .user-comments {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #D7A86E; 
    }

  .business-index {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #D7A86E; 
    height: 95%;
    }
    
  .user-show {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #D7A86E; 
    width: 100%;

    }

.comments-index {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #D7A86E; 
    width: fit-content
    }  
.park-index {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #D7A86E; 
    }

#park-photo {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 10px;

    }

  // #park-photo , img:hover {

  // }


.event-index {
  border: 12px solid #8E3200;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #D7A86E; 
  width: 100%;
    }

.event-info {
    border: 12px solid #8E3200;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #D7A86E; 
    }

.park-comments {
  border: 12px solid #8E3200;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  height: 95%;
  background-color: #D7A86E;
}

.name-height {
            line-height: 1;
            margin-left: 100px;
}

.image-format {
    margin-top: 20px;
    padding-left: 20px;
    position: absolute;
}


body {
    background-color: #ECE5C7;
    }
.header{
    color: #A64B2A;
    text-align: center;
    
    }

#form-header {
  padding-right: 20px;
}

.flash-error{
  color: red;
  text-align: center;
  font-size: 150%;
}

.carousel-inner .carousel-item img {
  height: 400px;
  position: relative;
}

