---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/parks?api_key=zmuTdZgBkO6cmrf401Mfjpr6hRqdfLwi8NdgROnB&parkCode=shen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Allow:
      - Get
      X-Api-Umbrella-Request-Id:
      - c8oou9t7rutln2uk5660
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '952'
      X-Vcap-Request-Id:
      - c9680111-71b6-43ba-6d5c-ee5f8593ed2d
    body:
      encoding: UTF-8
      string: " \r\n{\r\n\r\n\"total\":\"1\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",
        \ \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"E991C8BC-C203-4A09-AFD5-87380CF5C387\"\r\n\r\n,\"url\":\r\n\r\n\"https://www.nps.gov/shen/index.htm\"\r\n\r\n,\"fullName\":\"Shenandoah
        National Park\"      \r\n\r\n,\"parkCode\":\"shen\"\r\n\r\n,\"description\":\"Just
        75 miles from the bustle of Washington, D.C., Shenandoah National Park is
        a land bursting with cascading waterfalls, spectacular vistas, fields of wildflowers,
        and quiet wooded hollows. With over 200,000 acres of protected lands that
        are haven to deer, songbirds, and black bear, there's so much to explore...and
        your journey begins right here!\"\r\n\r\n,\"latitude\":\r\n\r\n\"38.49236644\"
        \r\n\r\n,\"longitude\":\r\n\r\n\"-78.46907715\" \r\n\r\n,\"latLong\":\"lat:38.49236644,
        long:-78.46907715\"\r\n\r\n,\"activities\":[{\"id\":\"5F723BAD-7359-48FC-98FA-631592256E35\",\"name\":\"Auto
        and ATV\"},{\"id\":\"0B4A5320-216D-451A-9990-626E1D5ACE28\",\"name\":\"Scenic
        Driving\"},{\"id\":\"13A57703-BB1A-41A2-94B8-53B692EB7238\",\"name\":\"Astronomy\"},{\"id\":\"D37A0003-8317-4F04-8FB0-4CF0A272E195\",\"name\":\"Stargazing\"},{\"id\":\"7CE6E935-F839-4FEC-A63E-052B1DEF39D2\",\"name\":\"Biking\"},{\"id\":\"8D778629-F603-4C50-A121-6F4BB2FE2C4B\",\"name\":\"Road
        Biking\"},{\"id\":\"A59947B7-3376-49B4-AD02-C0423E08C5F7\",\"name\":\"Camping\"},{\"id\":\"4A58AF1[...]
