---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/events?api_key=zmuTdZgBkO6cmrf401Mfjpr6hRqdfLwi8NdgROnB&dateEnd=2023-06-23&dateStart=2023-06-16&parkCode=shen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Allow:
      - GET
      X-Api-Umbrella-Request-Id:
      - c8oou9jub5u5s6kl5gmg
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '953'
      X-Time-In-Cache-Check:
      - '0'
      X-Time-In-Cache-Save:
      - '0'
      X-Time-In-Ontaffyrequest:
      - '0'
      X-Time-In-Ontaffyrequestend:
      - '0'
      X-Time-In-Parse:
      - '0'
      X-Time-In-Resource:
      - '62'
      X-Time-In-Serialize:
      - '537'
      X-Time-In-Taffy:
      - '0'
      X-Vcap-Request-Id:
      - 822a23ea-3d85-4526-6cb6-a75fd1008695
    body:
      encoding: UTF-8
      string: '{"total":"27","errors":[],"data":[{"location":"Rapidan Camp","updateuser":"","contactname":"","contacttelephonenumber":"","recurrencedateend":"2023-09-04","longitude":"-78.419520","datestart":"2023-06-16","isrecurring":"true","datetimeupdated":"","portalname":"","types":["Guided
        Tour","Talk"],"createuser":"","isfree":"true","contactemailaddress":"","regresurl":"https:\/\/www.recreation.gov\/ticket\/facility\/251745","description":"<p>Travel
        by van 30 minutes to President Hoover’s summer retreat. Reservations are required
        and can be made online at www.recreation.gov or by calling (877) 444-6777.
        Byrd Visitor Center (mile 51), 2-½ hrs. Check for other tour times at www.recreation.gov<\/p>\n<p>Wheelchair
        Accessible. Assistive Listening Available (please arrive 15 minutes early).<\/p>","images":[],"category":"Regular
        Event","imageidlist":"","isregresrequired":"true","organizationname":"","id":"81F4CF23-91FF-2DC9-85BFA0FC411C2381","isallday":"false","dateend":"2023-06-16","sitecode":"shen","infourl":"","times":[{"timestart":"10:00
        AM","timeend":"11:30 AM","sunsetend":"false","sunrisestart":"false"},{"timestart":"02:00
        PM","timeend":"03:30 PM","sunsetend":"false","sunrisestart":"false"}],"regresinfo":"Reservations
        can be made at www.recreation.gov or by calling (877) 444-6777.","timeinfo":"","categoryid":"0","eventid":"0","parkfullname":"Shenandoah
        National Park","recurrencedatestart":"2023-05-26","date":"2023-06-16","sitetype":"park","feeinfo":"However,
        there is a $30 entrance fee to the park (good for seven days).","recurrencerule":"DTSTART=20230526T040000Z;UNTIL=20230904T040000Z;FREQ=WEEKLY;WKST=SU;BYDAY=SU,MO,TH,FR,SA;COUNT=0;INTERVAL=1","dates":["2023-06-16","2023-06-17","2023-06-18","2023-06-19","2023-06-22","2023-06-23"],"datetimecreated":"","title":"Historic
        Rapidan Camp","latitude":"38.490760","subjectname":"","tags":["ranger program","ranger
        programs","summer","Rapidan Camp"]},{"location":"Lewis Mountain Amphitheater
        (mile 57.2)","updateuser":"","contactname":"","contacttelephonenumber":"","recurrencedateend":"2023-09-04","longitude":"","datestart":"2023-06-16","isrecurring":"true","datetimeupdated":"","portalname":"","types":["Campfire\/Evening
        Program","Talk"],"createuser":"","isfree":"true","contactemailaddress":"","regresurl":"","description":"<p>Join
        a Ranger for a national park tradition while learning more about the natural
        or cultural history of Shenandoah. Check visitor centers for topics. Dress
        for cool mountain nights and bring a flashlight. Wheelchair Accessible.<\/p>\n<p><em>Lewis
        Mountain Amphitheater (mile 57.2), 45 min<\/em><\/p>","images":[],"category":"Regular
        Event","imageidlist":"","isregresrequired":"false","organizationname":"","id":"7CB12392-B56D-DD08-CCBFC0D1E1209A51","isallday":"false","dateend":"2023-06-16","sitecode":"shen","infourl":"","times":[{"timestart":"07:30
        PM","timeend":"08:15 PM","sunsetend":"false","sunrisestart":"false"}],"regresinfo":"","timeinfo":"","categoryid":"0","eventid":"0","parkfullname":"Shenandoah
        [...]
[...]
