---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/parks?api_key=zmuTdZgBkO6cmrf401Mfjpr6hRqdfLwi8NdgROnB&stateCode=md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Allow:
      - Get
      X-Api-Umbrella-Request-Id:
      - c8oou9e7teildqmlo9rg
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '954'
      X-Vcap-Request-Id:
      - 28e5b6be-e90c-43a0-7df7-adcaf9231843
    body:
      encoding: UTF-8
      string: " \r\n{\r\n\r\n\"total\":\"27\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",
        \ \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"8415526C-C932-4236-A634-2D89DF718936\"\r\n\r\n,\"url\":\r\n\r\n\"https://www.nps.gov/anti/index.htm\"\r\n\r\n,\"fullName\":\"Antietam
        National Battlefield\"      \r\n\r\n,\"parkCode\":\"anti\"\r\n\r\n,\"description\":\"23,000
        soldiers were killed, wounded or missing after twelve hours of savage combat
        on September 17, 1862. The Battle of Antietam ended the Confederate Army of
        Northern Virginia's first invasion into the North and led Abraham Lincoln
        to issue the preliminary Emancipation Proclamation.\"\r\n\r\n,\"latitude\":\r\n\r\n\"39.46763452\"
        \r\n\r\n,\"longitude\":\r\n\r\n\"-77.73828017\" \r\n\r\n,\"latLong\":\"lat:39.46763452,
        long:-77.73828017\"\r\n\r\n,\"activities\":[{\"id\":\"7CE6E935-F839-4FEC-A63E-052B1DEF39D2\",\"name\":\"Biking\"},{\"id\":\"8D778629-F603-4C50-A121-6F4BB2FE2C4B\",\"name\":\"Road
        Biking\"},{\"id\":\"A59947B7-3376-49B4-AD02-C0423E08C5F7\",\"name\":\"Camping\"},{\"id\":\"7CFF5F03-5ECC-4F5A-8572-75D1F0976C0C\",\"name\":\"Group
        Camping\"},{\"id\":\"B33DC9B6-0B7D-4322-BAD7-A13A34C584A3\",\"name\":\"Guided
        Tours\"},{\"id\":\"A0631906-9672-4583-91DE-113B93DB6B6E\",\"name\":\"Self-Guided
        Tours - Walking\"},{\"id\":\"C7D5A145-F8EB-4C37-9E92-2F6C6206B196\",\"name\":\"Self-Guided
        Tours - Auto\"},{\"id\":\"BFF8C027-7C8F-480B-A5F8-CD8CE490BFBA\",\"name\":\"Hiking\"},{\"id\":\"B204DE60-5A24-43DD-8902-C81625A09A74\",\"name\":\"Living
        History\"},{\"id\":\"237A1662-6018-4115-ABD1-B8CCF827E703\",\"name\":\"Historic
        Weapons Demonstration\"},{\"id\":\"DF4A35E0-7983-4A3E-BC47-F37B872B0F25\",\"name\":\"Junior
        Ranger Program\"},{\"id\":\"0B685688-3405-4E2A-ABBA-E3069492EC50\",\"name\":\"Wildlife
        Watching\"},{\"id\":\"5A2C91D1-50EC-4B24-8BED-A2E11A1892DF\",\"name\":\"Birdwatching\"},{\"id\":\"0C0D142F-06B5-4BE1-8B44-491B90F93DEB\",\"name\":\"Park
        Film\"},{\"id\":\"C8F98B28-3C10-41AE-AA99-092B3B398C43\",\"name\":\"Museum
        Exhibits\"},{\"id\":\"24380E3F-AD9D-4E38-BF13-C8EEB21893E7\",\"name\":\"Shopping\"},{\"id\":\"467DC8B8-0B7D-436D-A026-80A22358F615\",\"name\":\"Bookstore
        and Park Store\"}]\r\n,\"topics\":[{\"id\":\"28AEAE85-9DDA-45B6-981B-1CFCDCC61E14\",\"name\":\"African
        American Heritage\"},{\"id\":\"00F3C3F9-2D67-4802-81AE-CCEA5D3BA370\",\"name\":\"Arts\"},{\"id\":\"9BD60DC0-C82B-42BA-A170-456B7423429D\",\"name\":\"Photography\"},{\"id\":\"607D41B0-F830-4C07-A557-BCEF880A3929\",\"name\":\"Burial,
        Cemetery and Gravesite\"},{\"id\":\"570E8E93-3A49-45FB-B11A-F2F984EAC862\",\"name\":\"National
        Cemetery\"},{\"id\":\"D9FC6D14-F8C7-4EBA-86EA-DFD99B6BB4F5\",\"name\":\"Enslavem[...]
